In [69]:
import pandas as pd

In [70]:
import numpy as np

In [71]:
import seaborn as sns

In [88]:
df = pd.read_csv(r"C:\Users\mei88\OneDrive\桌面\MBAN 6110S-Data Science\assignment1\sales_data.csv")

In [89]:
df

         Product    Region   Price  Units Sold   Sale Date
0            NaN  Region_6   75.96        10.0  2022-01-01
1            NaN  Region_1  175.78         8.0  2022-01-02
2     Product_46  Region_3   20.43        12.0  2022-01-03
3     Product_36  Region_1   12.77        10.0  2022-01-04
4     Product_17  Region_6  125.69         6.0  2022-01-05
...          ...       ...     ...         ...         ...
1045  Product_45  Region_7   78.69         8.0  2022-07-28
1046   Product_1  Region_6     NaN         8.0  2022-08-02
1047  Product_17  Region_2  114.37        11.0  2023-12-18
1048         NaN  Region_8     NaN         5.0  2023-12-27
1049  Product_16  Region_2   69.30         8.0  2024-02-23

[1050 rows x 5 columns]

In [90]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1050 entries, 0 to 1049
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Product     947 non-null    object
 1   Region      946 non-null    object
 2   Price       945 non-null    float64
 3   Units Sold  946 non-null    float64
 4   Sale Date   1050 non-null   object
dtypes: float64(2), object(3)
memory usage: 41.1+ KB

In [91]:
df.describe(include="all")

           Product    Region        Price  Units Sold   Sale Date
count          947       946   945.000000  946.000000        1050
unique          50        10          NaN         NaN        1000
top     Product_45  Region_9          NaN         NaN  2022-07-28
freq            28       109          NaN         NaN           2
mean           NaN       NaN   107.598688   10.048626         NaN
std            NaN       NaN   124.020322    3.172261         NaN
min            NaN       NaN     0.200000    2.000000         NaN
25%            NaN       NaN    29.430000    8.000000         NaN
50%            NaN       NaN    78.130000   10.000000         NaN
75%            NaN       NaN   142.570000   12.000000         NaN
max            NaN       NaN  2143.300000   22.000000         NaN

In [94]:

average_prices = df.groupby('Product')['Price'].transform('mean')

In [110]:
print(average_prices)

0              NaN
1              NaN
2       101.934118
3        80.066667
4        96.292632
           ...
1045    108.686296
1046     90.580455
1047     96.292632
1048           NaN
1049     99.276316
Name: Price, Length: 1050, dtype: float64

In [96]:
df['Price'].fillna(average_prices, inplace=True)

In [97]:

print(df)

         Product    Region       Price  Units Sold   Sale Date
0            NaN  Region_6   75.960000        10.0  2022-01-01
1            NaN  Region_1  175.780000         8.0  2022-01-02
2     Product_46  Region_3   20.430000        12.0  2022-01-03
3     Product_36  Region_1   12.770000        10.0  2022-01-04
4     Product_17  Region_6  125.690000         6.0  2022-01-05
...          ...       ...         ...         ...         ...
1045  Product_45  Region_7   78.690000         8.0  2022-07-28
1046   Product_1  Region_6   90.580455         8.0  2022-08-02
1047  Product_17  Region_2  114.370000        11.0  2023-12-18
1048         NaN  Region_8         NaN         5.0  2023-12-27
1049  Product_16  Region_2   69.300000         8.0  2024-02-23

[1050 rows x 5 columns]

In [109]:

df.info()

AttributeError: 'NoneType' object has no attribute 'info'

In [107]:
# I personally think "Unit Sold=Null" is meaningless for my analysis, since no product sold
# remove "units sold" = null cells
df = df.dropna(subset=['Units Sold'], axis=0)

AttributeError: 'NoneType' object has no attribute 'dropna'

In [103]:
print(df)

None

In [102]:
#add a column "Sales"

df["Sales"] = df["Price"] * df["Units Sold"]

TypeError: 'NoneType' object is not subscriptable

In [ ]:
df.info()

AttributeError: 'NoneType' object has no attribute 'info'

In [ ]:
# identify how many null rows for column 'Sales'
df["Sales"].isna().sum()

In [ ]:
#remove all the rows for "sales" value is missing
df.dropna(subset=['Sales'], axis=0, inplace=True)

In [ ]:
df.info()

In [83]:
# fillin missing value in "Region" as "no_region"
df['Region'] = df['Region'].fillna("no_region")

TypeError: 'NoneType' object is not subscriptable

In [ ]:
# fillin missing value in "Product" as "Other"
df['Product'] = df['Product'].fillna("Other")

In [ ]:
df.describe(include="all")

In [ ]:
# identify outliers , sales =10716.5
sns.scatterplot(data=df, x="Region", y="Sales")

In [ ]:
# drop outliers
df_outliers = df[df['Sales'] >= 10000]

In [ ]:
sns.scatterplot(data=df, x="Region", y="Sales")

In [ ]:
# from the boxplot,  
sns.boxplot(data=df, x="Region", y="Sales")

In [ ]:
# I decided to remove the values of "Sales" > 10000.
df.drop(df[df['Sales'] >= 10000].index, inplace=True)

In [ ]:
sns.scatterplot(data=df, x="Region", y="Sales")

In [ ]:
#create a column called " month " which is extracted from column "sales date"
df['Sale Date'] = pd.to_datetime(df['Sale Date'])
df["month"] =  df["Sale Date"].dt.month

In [ ]:
df.info()

In [ ]:
import seaborn as sns
import matplotlib.pyplot as plt

In [ ]:
# create visuliazed charts
df_sorted = df.sort_values(by='Sales', ascending=False)
sns.barplot(x='Sales', y='Region', hue='Product', data=df_sorted)
plt.title('Sales by Region and Product')
plt.xlabel('Sales')
plt.ylabel('Region')
plt.xticks(rotation=45)
plt.legend(loc='upper center', bbox_to_anchor=(0.5, -0.1), ncol=3)
plt.show()

In [ ]:
# by region
df_sorted = df.sort_values(by='Sales', ascending=False)
sns.barplot(y='Sales', x='Region', data=df_sorted)
plt.title('Sales by Region')
plt.ylabel('Sales')
plt.xlabel('Region')
plt.xticks(rotation=45)
plt.show()

In [ ]:
# by product
df_sorted = df.sort_values(by='Sales', ascending=False)
sns.barplot(y='Sales', x='Product', data=df_sorted)
plt.title('Sales by Product')
plt.ylabel('Sales')
plt.xlabel('Product')
plt.xticks(rotation=45)
plt.xticks(fontsize=5)
plt.show()

In [ ]:
df_sorted = df.sort_values(by='Sales', ascending=False)
sns.lineplot(x='Region', y='Sales', hue='Product', data=df_sorted)
plt.title('Sales by Region with Lines by Products')
plt.xlabel('Region')
plt.ylabel('Sales')
plt.xticks(rotation=45)
plt.legend(loc='upper center', bbox_to_anchor=(0.5, -0.3), ncol=3)
plt.show()

In [ ]:
#top 5 products in top 5 regions and last 5 products in last 5 regions
df_sorted = df.sort_values(by='Sales', ascending=False)
top_regions = df_sorted['Region'].head(5).tolist()
top_products = df_sorted[df_sorted['Region'].isin(top_regions)].groupby('Region').head(5)['Product'].tolist()

filtered_df = df_sorted.loc[(df_sorted['Region'].isin(top_regions) & df_sorted['Product'].isin(top_products))]

sns.lineplot(x='Region', y='Sales', hue='Product', data=filtered_df)
plt.title('Sales by Region with Lines by Products')
plt.xlabel('Region')
plt.ylabel('Sales')
plt.xticks(rotation=45)
plt.legend(loc='upper center', bbox_to_anchor=(0.5, -0.3), ncol=3)
plt.show()

In [ ]:
df

In [ ]:
sns.lmplot(x="Price",
        y="Sales",
        data=df,
        hue="Region",
        ci=None)

In [ ]:
df.drop(df[df["Sales"] >= 4000].index, inplace=True)