In [216]:
import pandas as pd

In [217]:
df = pd.read_csv(r"C:\Users\mei88\OneDrive\桌面\MMAI-5000N AI\group project\neighbourhood _t.csv")

In [218]:
df

,Characteristic,Neighbourhood Number,TSNS2020 Designation,"Population, 2016","Population, 2011",Population Change 2011-2016,Total private dwellings,Private dwellings occupied by usual residents,Population density per square kilometre,Land area in square kilometres,...,Intraprovincial migrants.1,Interprovincial migrants,External migrants,Total - Mobility status 5 years ago - 25% sample data,Non-movers.1,Movers.1,Non-migrants.1,Migrants.1,Interprovincial migrants.1,External migrants.1
0,City of Toronto,NaN,NaN,"2,731,571","2,615,060",4.50%,"1,179,057","1,112,929","4,334",630.20,...,"49,990","15,780","59,945","2,556,120","1,516,110","1,040,015","639,060","400,950","42,985","216,835"
1,Agincourt North,129.0,No Designation,"29,113","30,279",-3.90%,"9,371","9,120","3,929",7.41,...,275,75,605,"27,490","18,865","8,610","5,445","3,170",135,"2,280"
2,Agincourt South-Malvern West,128.0,No Designation,"23,757","21,988",8.00%,"8,535","8,136","3,034",7.83,...,320,90,490,"22,325","13,565","8,775","5,610","3,145",220,"2,170"
3,Alderwood,20.0,No Designation,"12,054","11,904",1.30%,"4,732","4,616","2,435",4.95,...,220,40,70,"11,370","8,235","3,130","2,200",925,70,245
4,Annex,95.0,No Designation,"30,526","29,177",4.60%,"18,109","15,934","10,863",2.81,...,900,385,835,"27,715","12,980","14,735","8,340","6,390","1,310","2,460"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
136,Wychwood,94.0,No Designation,"14,349","13,986",2.60%,"6,185","5,887","8,541",1.68,...,140,60,225,"12,630","7,930","4,700","3,355","1,350",210,575
137,Yonge-Eglinton,100.0,No Designation,"11,817","10,578",11.70%,"6,103","5,676","7,162",1.65,...,345,130,325,"11,230","5,785","5,450","3,020","2,425",290,"1,160"
138,Yonge-St.Clair,97.0,No Designation,"12,528","11,652",7.50%,"7,475","7,012","10,708",1.17,...,320,110,265,"11,865","5,660","6,195","3,895","2,310",325,955
139,York University Heights,27.0,NIA,"27,593","27,713",-0.40%,"11,051","10,170","2,086",13.23,...,500,180,680,"26,110","14,720","11,400","6,435","4,965",195,"3,285"
140,Yorkdale-Glen Park,31.0,Emerging Neighbourhood,"14,804","14,687",0.80%,"5,847","5,344","2,451",6.04,...,145,35,140,"13,420","9,125","4,290","2,940","1,345",135,775

In [219]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 141 entries, 0 to 140
Columns: 2384 entries, Characteristic to       External migrants.1
dtypes: float64(50), int64(1049), object(1285)
memory usage: 2.6+ MB

In [220]:
#remove unnecesary columns
df = df.drop('TSNS2020 Designation', axis=1)

In [221]:
df.describe(include='all')

,Characteristic,Neighbourhood Number,"Population, 2016","Population, 2011",Population Change 2011-2016,Total private dwellings,Private dwellings occupied by usual residents,Population density per square kilometre,Land area in square kilometres,Children (0-14 years),...,Intraprovincial migrants.1,Interprovincial migrants,External migrants,Total - Mobility status 5 years ago - 25% sample data,Non-movers.1,Movers.1,Non-migrants.1,Migrants.1,Interprovincial migrants.1,External migrants.1
count,141,140.0000,141,141,141,141,141,141,141.000000,141,...,141,141,141,141,141,141,141,141,141,141
unique,141,NaN,141,140,92,140,141,139,NaN,130,...,83,51,94,138,138,133,136,132,78,129
top,City of Toronto,NaN,"2,731,571","9,632",1.30%,"7,562","1,112,929","5,395",NaN,"1,695",...,140,55,210,"8,745","7,930","4,770","4,215","2,005",120,395
freq,1,NaN,1,2,5,2,1,2,NaN,3,...,7,8,4,2,2,2,2,2,6,3
mean,NaN,70.5000,NaN,NaN,NaN,NaN,NaN,NaN,8.939291,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
std,NaN,40.5586,NaN,NaN,NaN,NaN,NaN,NaN,52.887526,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
min,NaN,1.0000,NaN,NaN,NaN,NaN,NaN,NaN,0.420000,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25%,NaN,35.7500,NaN,NaN,NaN,NaN,NaN,NaN,1.860000,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
50%,NaN,70.5000,NaN,NaN,NaN,NaN,NaN,NaN,3.310000,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
75%,NaN,105.2500,NaN,NaN,NaN,NaN,NaN,NaN,5.390000,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
max,NaN,140.0000,NaN,NaN,NaN,NaN,NaN,NaN,630.200000,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [222]:
#since city of Toronto include all the neighbourhoods, so we consider it as a outlier, remove it. 
df = df.drop(0)

In [223]:
# check all columns, we realzied 'neighbourhood number' should be str. and other column's values should be int
df.describe(include='all')

,Characteristic,Neighbourhood Number,"Population, 2016","Population, 2011",Population Change 2011-2016,Total private dwellings,Private dwellings occupied by usual residents,Population density per square kilometre,Land area in square kilometres,Children (0-14 years),...,Intraprovincial migrants.1,Interprovincial migrants,External migrants,Total - Mobility status 5 years ago - 25% sample data,Non-movers.1,Movers.1,Non-migrants.1,Migrants.1,Interprovincial migrants.1,External migrants.1
count,140,140.0000,140,140,140,140,140,140,140.000000,140,...,140,140,140,140,140,140,140,140,140,140
unique,140,NaN,140,139,92,139,140,138,NaN,129,...,82,50,93,137,137,132,135,131,77,128
top,Agincourt North,NaN,"29,113","9,632",1.30%,"7,562","9,120","3,614",NaN,"1,695",...,140,75,70,"10,580","9,970","4,580","3,375","2,005",120,395
freq,1,NaN,1,2,5,2,1,2,NaN,3,...,7,8,4,2,2,2,2,2,6,3
mean,NaN,70.5000,NaN,NaN,NaN,NaN,NaN,NaN,4.501714,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
std,NaN,40.5586,NaN,NaN,NaN,NaN,NaN,NaN,4.544665,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
min,NaN,1.0000,NaN,NaN,NaN,NaN,NaN,NaN,0.420000,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25%,NaN,35.7500,NaN,NaN,NaN,NaN,NaN,NaN,1.852500,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
50%,NaN,70.5000,NaN,NaN,NaN,NaN,NaN,NaN,3.275000,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
75%,NaN,105.2500,NaN,NaN,NaN,NaN,NaN,NaN,5.382500,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
max,NaN,140.0000,NaN,NaN,NaN,NaN,NaN,NaN,36.890000,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [224]:
df.dtypes

Characteristic                         object
Neighbourhood Number                  float64
Population, 2016                       object
Population, 2011                       object
Population Change 2011-2016            object
                                       ...
  Movers.1                             object
    Non-migrants.1                     object
    Migrants.1                         object
        Interprovincial migrants.1     object
      External migrants.1              object
Length: 2383, dtype: object

In [225]:
# neighbourhood number should be treated as categorical number
df['Neighbourhood Number']= df['Neighbourhood Number'].astype(str).str.split('.').str[0]

In [226]:
df

,Characteristic,Neighbourhood Number,"Population, 2016","Population, 2011",Population Change 2011-2016,Total private dwellings,Private dwellings occupied by usual residents,Population density per square kilometre,Land area in square kilometres,Children (0-14 years),...,Intraprovincial migrants.1,Interprovincial migrants,External migrants,Total - Mobility status 5 years ago - 25% sample data,Non-movers.1,Movers.1,Non-migrants.1,Migrants.1,Interprovincial migrants.1,External migrants.1
1,Agincourt North,129,"29,113","30,279",-3.90%,"9,371","9,120","3,929",7.41,"3,840",...,275,75,605,"27,490","18,865","8,610","5,445","3,170",135,"2,280"
2,Agincourt South-Malvern West,128,"23,757","21,988",8.00%,"8,535","8,136","3,034",7.83,"3,075",...,320,90,490,"22,325","13,565","8,775","5,610","3,145",220,"2,170"
3,Alderwood,20,"12,054","11,904",1.30%,"4,732","4,616","2,435",4.95,"1,760",...,220,40,70,"11,370","8,235","3,130","2,200",925,70,245
4,Annex,95,"30,526","29,177",4.60%,"18,109","15,934","10,863",2.81,"2,360",...,900,385,835,"27,715","12,980","14,735","8,340","6,390","1,310","2,460"
5,Banbury-Don Mills,42,"27,695","26,918",2.90%,"12,473","12,124","2,775",9.98,"3,605",...,345,75,380,"25,925","16,300","9,625","6,480","3,140",220,"1,735"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
136,Wychwood,94,"14,349","13,986",2.60%,"6,185","5,887","8,541",1.68,"1,860",...,140,60,225,"12,630","7,930","4,700","3,355","1,350",210,575
137,Yonge-Eglinton,100,"11,817","10,578",11.70%,"6,103","5,676","7,162",1.65,"1,800",...,345,130,325,"11,230","5,785","5,450","3,020","2,425",290,"1,160"
138,Yonge-St.Clair,97,"12,528","11,652",7.50%,"7,475","7,012","10,708",1.17,"1,210",...,320,110,265,"11,865","5,660","6,195","3,895","2,310",325,955
139,York University Heights,27,"27,593","27,713",-0.40%,"11,051","10,170","2,086",13.23,"4,045",...,500,180,680,"26,110","14,720","11,400","6,435","4,965",195,"3,285"
140,Yorkdale-Glen Park,31,"14,804","14,687",0.80%,"5,847","5,344","2,451",6.04,"1,960",...,145,35,140,"13,420","9,125","4,290","2,940","1,345",135,775

In [227]:
#df['Population, 2016'] = df['Population, 2016'].astype(float)

In [228]:
columns = df.columns[2:]
df[columns] = df[columns].astype(float)

ValueError: could not convert string to float: '29,113'

In [ ]:
df

,Characteristic,Neighbourhood Number,"Population, 2016","Population, 2011",Population Change 2011-2016,Total private dwellings,Private dwellings occupied by usual residents,Population density per square kilometre,Land area in square kilometres,Children (0-14 years),...,Intraprovincial migrants.1,Interprovincial migrants,External migrants,Total - Mobility status 5 years ago - 25% sample data,Non-movers.1,Movers.1,Non-migrants.1,Migrants.1,Interprovincial migrants.1,External migrants.1
1,Agincourt North,129,NaN,NaN,NaN,NaN,NaN,NaN,7.41,NaN,...,275.0,75.0,605.0,NaN,NaN,NaN,NaN,NaN,135.0,NaN
2,Agincourt South-Malvern West,128,NaN,NaN,NaN,NaN,NaN,NaN,7.83,NaN,...,320.0,90.0,490.0,NaN,NaN,NaN,NaN,NaN,220.0,NaN
3,Alderwood,20,NaN,NaN,NaN,NaN,NaN,NaN,4.95,NaN,...,220.0,40.0,70.0,NaN,NaN,NaN,NaN,925.0,70.0,245.0
4,Annex,95,NaN,NaN,NaN,NaN,NaN,NaN,2.81,NaN,...,900.0,385.0,835.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,Banbury-Don Mills,42,NaN,NaN,NaN,NaN,NaN,NaN,9.98,NaN,...,345.0,75.0,380.0,NaN,NaN,NaN,NaN,NaN,220.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
136,Wychwood,94,NaN,NaN,NaN,NaN,NaN,NaN,1.68,NaN,...,140.0,60.0,225.0,NaN,NaN,NaN,NaN,NaN,210.0,575.0
137,Yonge-Eglinton,100,NaN,NaN,NaN,NaN,NaN,NaN,1.65,NaN,...,345.0,130.0,325.0,NaN,NaN,NaN,NaN,NaN,290.0,NaN
138,Yonge-St.Clair,97,NaN,NaN,NaN,NaN,NaN,NaN,1.17,NaN,...,320.0,110.0,265.0,NaN,NaN,NaN,NaN,NaN,325.0,955.0
139,York University Heights,27,NaN,NaN,NaN,NaN,NaN,NaN,13.23,NaN,...,500.0,180.0,680.0,NaN,NaN,NaN,NaN,NaN,195.0,NaN
140,Yorkdale-Glen Park,31,NaN,NaN,NaN,NaN,NaN,NaN,6.04,NaN,...,145.0,35.0,140.0,NaN,NaN,NaN,NaN,NaN,135.0,775.0

In [ ]:
df.dtypes

Characteristic                         object
Neighbourhood Number                   object
Population, 2016                      float64
Population, 2011                      float64
Population Change 2011-2016           float64
                                       ...
  Movers.1                            float64
    Non-migrants.1                    float64
    Migrants.1                        float64
        Interprovincial migrants.1    float64
      External migrants.1             float64
Length: 2383, dtype: object

In [ ]:
df

,Characteristic,Neighbourhood Number,"Population, 2016","Population, 2011",Population Change 2011-2016,Total private dwellings,Private dwellings occupied by usual residents,Population density per square kilometre,Land area in square kilometres,Children (0-14 years),...,Intraprovincial migrants.1,Interprovincial migrants,External migrants,Total - Mobility status 5 years ago - 25% sample data,Non-movers.1,Movers.1,Non-migrants.1,Migrants.1,Interprovincial migrants.1,External migrants.1
1,Agincourt North,129,NaN,NaN,NaN,NaN,NaN,NaN,7.41,NaN,...,275.0,75.0,605.0,NaN,NaN,NaN,NaN,NaN,135.0,NaN
2,Agincourt South-Malvern West,128,NaN,NaN,NaN,NaN,NaN,NaN,7.83,NaN,...,320.0,90.0,490.0,NaN,NaN,NaN,NaN,NaN,220.0,NaN
3,Alderwood,20,NaN,NaN,NaN,NaN,NaN,NaN,4.95,NaN,...,220.0,40.0,70.0,NaN,NaN,NaN,NaN,925.0,70.0,245.0
4,Annex,95,NaN,NaN,NaN,NaN,NaN,NaN,2.81,NaN,...,900.0,385.0,835.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,Banbury-Don Mills,42,NaN,NaN,NaN,NaN,NaN,NaN,9.98,NaN,...,345.0,75.0,380.0,NaN,NaN,NaN,NaN,NaN,220.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
136,Wychwood,94,NaN,NaN,NaN,NaN,NaN,NaN,1.68,NaN,...,140.0,60.0,225.0,NaN,NaN,NaN,NaN,NaN,210.0,575.0
137,Yonge-Eglinton,100,NaN,NaN,NaN,NaN,NaN,NaN,1.65,NaN,...,345.0,130.0,325.0,NaN,NaN,NaN,NaN,NaN,290.0,NaN
138,Yonge-St.Clair,97,NaN,NaN,NaN,NaN,NaN,NaN,1.17,NaN,...,320.0,110.0,265.0,NaN,NaN,NaN,NaN,NaN,325.0,955.0
139,York University Heights,27,NaN,NaN,NaN,NaN,NaN,NaN,13.23,NaN,...,500.0,180.0,680.0,NaN,NaN,NaN,NaN,NaN,195.0,NaN
140,Yorkdale-Glen Park,31,NaN,NaN,NaN,NaN,NaN,NaN,6.04,NaN,...,145.0,35.0,140.0,NaN,NaN,NaN,NaN,NaN,135.0,775.0