In [54]:
pip install scikit-learn

Requirement already satisfied: scikit-learn in c:\users\mei88\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (1.2.2)
Requirement already satisfied: numpy>=1.17.3 in c:\users\mei88\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from scikit-learn) (1.24.3)
Requirement already satisfied: scipy>=1.3.2 in c:\users\mei88\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from scikit-learn) (1.10.1)
Requirement already satisfied: joblib>=1.1.1 in c:\users\mei88\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from scikit-learn) (1.2.0)
Requirement already satisfied: threadpoolctl>=2.0.0 in c:\users\mei88\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from scikit-learn) (3.1.0)
Note: you may need to restart the kernel to use updated packages.

In [55]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline
from statsmodels.formula.api import ols
import statsmodels.api as sm
from sklearn.linear_model import LinearRegression

In [56]:
bikes = pd.read_csv(r"C:\MY FILE\MBAN 6110S-Data Science\bikes_sharing.csv")

In [57]:
df.log  # influencer
# good model have less influencrial points
# how to make a model b

NameError: name 'df' is not defined

how to make model better
high variance model--random forest, tend to overfit. 
trade-off, lose accuracy when introducing new datas overtime,  or cnstantly retraiing, it will be more expensive. 
consider 
bias and variance , when builidng machine learning. 

how to improve performance, 
- tuning, hypo parameter tuning
-

linear, no parameter seeting, we need just data itself, 
- create feathere, feature engineer, 
- try daily data rather than  hours,
- play around, season, weather,

In [ ]:
# aggrating data, feature engineer, to improve the model
# try weather, try hours of the day
# reassembly data set , convert the data type, change time series data, hours to day, to minutes.

In [ ]:
bikes['datetime'] = pd.to_datetime(bikes['datetime'])

GOOGLE python code besample code

In [ ]:
bikes.set_index('datetime').resample('D').agg({'temp': 'mean', 'casual': 'sum'}) # group the data first
# resample, then using this to build model

bikes.set_index('datetime'. resample('s')). ffill()
bikes.set_index('datetime'. resample('s')). bfill()
bikes.set_index('datetime'. resample('s')). interpolate()

                 temp  casual
datetime
2011-01-01  14.110833     331
2011-01-02  14.902609     131
2011-01-03   8.050909     120
2011-01-04   8.200000     108
2011-01-05   9.305217      82
...               ...     ...
2012-12-15  13.290833     767
2012-12-16  14.862500     538
2012-12-17  16.126667     212
2012-12-18  16.844167     433
2012-12-19  13.632500     333

[719 rows x 2 columns]

In [ ]:
dummies_season = pd.get_dummies(bikes.season, dtype=int)
dummies_season.rename(columns = {1:'win', 2:'spr', 3:'sum', 4:'fal'}, inplace=True)

In [58]:
bikes_2 = pd.concat([bikes, dummies_season], axis=1)

In [59]:
bikes_2

,datetime,season,holiday,workingday,weather,temp,atemp,humidity,windspeed,casual,registered,count,win,spr,sum,fal
0,2011-01-01 00:00:00,1,0,0,1,9.84,14.395,81,0.0000,3,13,16,1,0,0,0
1,2011-01-01 01:00:00,1,0,0,1,9.02,13.635,80,0.0000,8,32,40,1,0,0,0
2,2011-01-01 02:00:00,1,0,0,1,9.02,13.635,80,0.0000,5,27,32,1,0,0,0
3,2011-01-01 03:00:00,1,0,0,1,9.84,14.395,75,0.0000,3,10,13,1,0,0,0
4,2011-01-01 04:00:00,1,0,0,1,9.84,14.395,75,0.0000,0,1,1,1,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10881,2012-12-19 19:00:00,4,0,1,1,15.58,19.695,50,26.0027,7,329,336,0,0,0,1
10882,2012-12-19 20:00:00,4,0,1,1,14.76,17.425,57,15.0013,10,231,241,0,0,0,1
10883,2012-12-19 21:00:00,4,0,1,1,13.94,15.910,61,15.0013,4,164,168,0,0,0,1
10884,2012-12-19 22:00:00,4,0,1,1,13.94,17.425,61,6.0032,12,117,129,0,0,0,1
10885,2012-12-19 23:00:00,4,0,1,1,13.12,16.665,66,8.9981,4,84,88,0,0,0,1

In [ ]:
bikes.set_index('datetime').resample('h').agg({'humidity': 'mean', 'temp': 'mean', 'casual': 'sum'}) # group the data first

                     humidity   temp  casual
datetime
2011-01-01 00:00:00      81.0   9.84       3
2011-01-01 01:00:00      80.0   9.02       8
2011-01-01 02:00:00      80.0   9.02       5
2011-01-01 03:00:00      75.0   9.84       3
2011-01-01 04:00:00      75.0   9.84       0
...                       ...    ...     ...
2012-12-19 19:00:00      50.0  15.58       7
2012-12-19 20:00:00      57.0  14.76      10
2012-12-19 21:00:00      61.0  13.94       4
2012-12-19 22:00:00      61.0  13.94      12
2012-12-19 23:00:00      66.0  13.12       4

[17256 rows x 3 columns]

In [ ]:
bikes_resampled = bikes.set_index('datetime').resample('h').ffill()

In [ ]:
result_bikes_resampled = ols('casual~temp+humidity', data = bikes_resampled).fit()
print(result_bikes_resampled.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:                 casual   R-squared:                       0.318
Model:                            OLS   Adj. R-squared:                  0.318
Method:                 Least Squares   F-statistic:                     4024.
Date:                Wed, 05 Jul 2023   Prob (F-statistic):               0.00
Time:                        20:11:52   Log-Likelihood:                -85668.
No. Observations:               17256   AIC:                         1.713e+05
Df Residuals:                   17253   BIC:                         1.714e+05
Df Model:                           2
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
Intercept     27.4129      1.152     23.798      0.000      25.155      29.671
temp           2.6713      0.037     72.498      0.000       2.599       2.744
humidity      -0.8170      0.014    -58.881      0.000      -0.844      -0.790
==============================================================================
Omnibus:                    11426.444   Durbin-Watson:                   0.150
Prob(Omnibus):                  0.000   Jarque-Bera (JB):           170946.910
Skew:                           3.017   Prob(JB):                         0.00
Kurtosis:                      17.190   Cond. No.                         309.
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.

In [ ]:
# bikes.set_index('datetime'). resample('s')). ffill()
# bikes.set_index('datetime'). resample('s')). bfill()
# bikes.set_index('datetime'). resample('s')). interpolate()

AttributeError: 'str' object has no attribute 'resample'

create new features, feature engineer, 
season, dummie variables, fit into a model, 
hoursly , temprature

starts from stats model, statistical model, have more tool. 
machine learning, look at probability, likelyhood
only avaialbe in sci-learn. 
using full datatime to understand the relationship between variables. 

machine learning , how well did we train the model, how well the model in real world. building a continuous pipeline, store the output somewhere, pipleline, data engiener, soft dev, machine learning, automation of seriouse to achieve a goal. float data from resoure to output. there is a pipeline . 


using pipeline to build model, we need a few libarry function 

-readintg data from datalake, datawarehouse, database
-building pipeline(we have done all analhysis, resample , feature engineering, ) read ready-made source. confidence data is not changing, in production run by itself. 

determin target feature, output variables, 
more effeciency, categorical features, numerical features. 

split data:

at the top

In [61]:
bikes[['workingday', 'season', 'weather', 'temp', 'humidity', 'windspeed']]

       workingday  season  weather   temp  humidity  windspeed
0               0       1        1   9.84        81     0.0000
1               0       1        1   9.02        80     0.0000
2               0       1        1   9.02        80     0.0000
3               0       1        1   9.84        75     0.0000
4               0       1        1   9.84        75     0.0000
...           ...     ...      ...    ...       ...        ...
10881           1       4        1  15.58        50    26.0027
10882           1       4        1  14.76        57    15.0013
10883           1       4        1  13.94        61    15.0013
10884           1       4        1  13.94        61     6.0032
10885           1       4        1  13.12        66     8.9981

[10886 rows x 6 columns]

sequeal all steps, build one pipleine

onehot encoder = dummmie variable in machaine learning

All machine learing need impute missing value, ifyou think there will be a risk having missing value. 
dealing with missing values: model cannot have NULL
scikit-learn org, stable/modules/classes 
impute=fillna()

Always have scaler, for all model,  scale all numerical value
Scale: 
standard- linear, ( sensitive to number)
max, min, between 0, and 1. -random, 

column transformer: sequence 

sequencing processing 
precessor = linear regression model or other model 


after we finished traing, we predict
then we get output-pred
final step: measurment-- MSE the smaller the better

Ridge
- regression model, real life, we try different model, and find the best model. 
- start with random forest, 
- linear model in sklearn package
    - linear, ridge, SGDC, RidgeCV
Regressor: eliminate unnecessary features


LASSO
see which feature is relavant
LY regreluation
form feature selection
relative important features automatically 
use model like....

hypo parameters- seeting of model
LASSO, alpha=  higher, more penalty, we have to play around to see what is the best alpha values. this is called tuning.
two ways
- great search : select model, identify parameters to try, measure model 
- random search : random combination, more effecient.
offset, efficiency, stability are important

cross validation

to try differenct model.
after you set up the pipleline,  
simplly , only change type of modelname, specifiy alpha value, to see if the performance better 
if you dont set alpha, default is 50-50 each

how to choose elasticnet,  if you do not care feature, only care prediciton, use LASSO. 
if you care keep features,  interpretable model, use RIDGE, will reduce the impact. 
when you do not know which is the best anser, use elasticnet

In [ ]:
lasso_regression = pipeline(steps = [
    ('preprocessor', prepocessor)
])

assignment
4 types model, MSE, pick which model have the best performance. you do not have to do pipeline
do great full Residuel analysis, do exgra analysis, print pred values, actual value